{% extends 'BookshelfAppBundle::layout.html.twig' %}

{% block page_content %}
    {{ parent() }}
    <div class="library js-library">
        <div class="control-bar">
            <button type="button" class="btn btn-primary btn-add-book js-add-book">Add book</button>

            <label for="selectLibrary">Library:</label>
            <select name="select_library" id="selectLibrary" class="js-select-library form-control library-selector">
                <option value="">Select library...</option>
            </select>
            <button type="button" class="btn js-add-library">Add</button>
            <button type="button" class="btn js-edit-library">Modify</button>
            <button type="button" class="btn js-remove-library">Delete</button>
        </div>
        <div class="js-books">
            <p class="info">Please select the library.</p>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm js-book-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="book-modal-content js-book-modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 id="myLargeModalLabel" class="modal-title js-book-modal-title">Large modal</h4>
                    </div>
                    <div class="modal-body js-book-modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

{% block templates %}
    {{ parent() }}
    {% raw %}
        <script type="text/stache" id="librarySelectorView">
           {{#each libraries}}
               <option value="{{id}}" {{data 'library'}}>{{name}}</option>
           {{/each}}
        </script>

        <script type="text/stache" id="booksView">
        {{#if library}}
            {{#if books}}
                <table class="table table-striped books-table js-book-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Book</th>
                            <th>Author</th>
                            <th class="actions-row">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each books}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                            <td>{{author}}</td>
                            <td>
                                <button type="button" class="btn btn-sm js-edit-book" {{data 'book'}}>Edit</button>
                                <button type="button" class="btn btn-sm btn-danger js-delete-book" {{data 'book'}}>Delete</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p class="info">There is no books in the library.</p>
            {{/if}}
        {{else}}
            <p class="info">Please select the library.</p>
        {{/if}}
        </script>

        <script type="text/stache" id="bookEditForm">
            <form role="form" class="js-book-form">
                <div class="form-group">
                    <label for="bookFormName">Name</label><input class="form-control js-name-field" id="bookFormName" type="text" value="{{book.name}}" />
                </div>
                <div class="form-group">
                    <label for="bookFormAuthor">Author</label><input class="form-control js-author-field" id="bookFormAuthor" type="text" value="{{book.author}}" />
                </div>
                <input type="hidden" class="js-library-id" value="{{book.library}}" />
                <input type="hidden" class="js-id" value="{{book.id}}" />
                <button type="submit" class="btn btn-default js-submit-book">Save</button>
            </form>
        </script>
    {% endraw %}
     {#


        <!--ul class="pagination">
            <li>
                <a href="#">Prev</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul-->



        <!--button type="button" class="btn btn-primary btn-lg">Default</button-->
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label><input class="form-control" id="exampleInputEmail1" type="email" />
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label><input class="form-control" id="exampleInputPassword1" type="password" />
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label><input id="exampleInputFile" type="file" />
                <p class="help-block">
                    Example block-level help text here.
                </p>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" /> Check me out</label>
            </div> <button type="submit" class="btn btn-default">Submit</button>
        </form>
      #}
{% endblock templates %}