{% extends '::base.html.twig' %}

{% block title %}{% trans %}Welcome to Bookshelf!{% endtrans  %}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="{{ developer_name }}, {{ developer_email }}">
    <meta name="web_author" content="{{ developer_name }}, {{ developer_email }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/bookshelfapp/css/vendor/bootstrap.css'
        'bundles/bookshelfapp/css/styles.css'
        filter='cssrewrite'
        output='compiled/css/*.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'bundles/bookshelfapp/js/vendor/es5-shim.js'
        'bundles/bookshelfapp/js/vendor/es6-shim.js'
        'bundles/bookshelfapp/js/vendor/json3.js'
        'bundles/bookshelfapp/js/vendor/jquery-1.10.2.js'
        'bundles/bookshelfapp/js/vendor/jquery-migrate-1.2.1.js'
        'bundles/bookshelfapp/js/vendor/handlebars-1.1.2.js'
        'bundles/fosjsrouting/js/router.js'

        'bundles/bookshelfapp/js/vendor/bootstrap.js'
        output='compiled/js/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
        'bundles/bookshelfapp/js/vendor/ember.js'
        'bundles/bookshelfapp/js/vendor/ember-data.js'
        output='compiled/js/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
        'js/fos_js_routes.js'
        'bundles/bookshelfapp/js/app.js'
        output='compiled/js/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" defer="defer"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% block templates %}
        <script type="text/x-handlebars" id="application">
            <div class="jumbotron">
                <div class="container">
                    <h1>Bookshelf</h1>
                </div>
            </div>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        {{ '{{outlet}}' }}
                    </div>
                </div>
                <hr>
                <footer class="footer">
                    <p>&copy; <a href="{{ developer_url }}" target="_blank">{{ developer_name }}</a> 2014</p>
                </footer>
            </div>
        </script>
    {% endblock templates %}
{% endblock body %}